@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Айнура Жулмухаметова<br />
    Алматы, КазНУ<br />
    <abbr title="Phone">8 (747) 804 3026</abbr>
</address>
