@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>Добро пожаловать на блог программиста!</h3>
        <h4>На следующих картинках вы сможете познакомиться с полезными сайтами для программистов!</h4>
        <a href="https://ru.stackoverflow.com/"><img src="~/images/stackoverflow.png" /></a>
        <a href="https://metanit.com/"><img src="~/images/metanit.png" /></a>
        <a href="https://ru.coursera.org/"><img src="~/images/coursera.png" /></a>
        <a href="https://www.sololearn.com/home"><img src="~/images/sololearn.jpg" /></a>
        <a class="btn btn-primary" asp-action="ProgrammerBlogForm">Оформить подписку</a>
    </div>
</body>
</html>
